@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-fashion-black: #1a1a1a;
  --color-fashion-red: #576238;
  /* Mapped to Moss for backward compatibility */
  --color-fashion-moss: #576238;
  --color-fashion-eggshell: #F0EAD6;
  --color-fashion-gray: #f4f4f4;
}

#root {
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-style: normal;
}